// Element overrides
body {
  font-family: sans-serif;
  font-size: 12px;
}
form {
  max-width: 500px;
  margin: 0 auto;
}
input,
select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
ul {
  margin: 5px 0;
  padding-left: 22px;
}
h1,
h2 {
  margin: 5px 0;
}

// Helpers
.h-clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
.h-cut-here {
  display: block;
  height: 50px;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px dashed #000;
  }
  &:after {
    content: "Cut Here";
    display: block;
    background: #fff;
    margin: 0 auto;
    display: block;
    width: 100px;
    text-align: center;
    position: relative;
    top: calc(50% - 6px);
  }
}
.h-hide-on-print {
  @media print {
    display: none;
  }
}
.h-page-break {
  @media print {
    page-break-after: always;
  }
}
.h-strong {
  font-weight: bold;
}
.h-text-center {
  text-align: center;
}
.h-block-center {
  margin: 0 auto;
}

/* Link for submitting issues */
.submit-issue {
  position: absolute;
  right: 10px;
  top: 10px;

  .h-hide-on-print;
}

/* Print button */
.print {
  position: fixed;
  top: 10px;
  left: 10px;

  .h-hide-on-print;
}

/* Button the return to the score card form */
.restart {
  position: fixed;
  top: 30px;
  left: 10px;

  .h-hide-on-print;
}

/* A heading that appears at the top of a score card or page */
.heading {
  text-align: center;
}

/* Creates a blank underline for writing */
.underline {
  display: inline-block;
  border-bottom: 1px solid #000;
  &.is-small {
    width: 100px;
  }
  &.is-large {
    width: 250px;
  }
}

/* Separates individual sections with a title */
.section {
  border: 1px solid #000;
  margin-bottom: -1px;
  position: relative;
  padding: 15px 10px;
  .h-clearfix;
  &_title {
    position: absolute;
    top: -11px;
    left: 10px;
    margin: 0;
    background: #fff;
  }
}

/* The actual image of a precision figure */
.figure-image {
  max-width: 100%;
}

/* A scale for scoring from low to high */
.score-scale {
  font-size: 10px;
  padding: 5px 0;
  &_scale {
    display: inline-block;
    border-top: 1px solid #000;
    width: ~"calc(100% - 65px)";
    margin: 3px 0;
    position: relative;
  }
  &_scale:before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 0;
    border-left: 1px solid #000;
    left: 0;
    top: -5px;
  }
  &_scale:after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 0;
    border-right: 1px solid #000;
    right: 0;
    top: -5px;
  }
}

/* A score box for inputing a score from 0 - 100 */
.score-box {
  display: block;
  width: 100%;
  border: 1px solid #000;
  height: 30px;
  margin-top: 15px;
}

/* A box that serves as a checkbox when the page is printed */
.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  margin-bottom: -5px;
}

/* Penalties that may cause a competitor to be disqualified or loose points */
.penalty {
  flex-grow: 1;
  padding: 0 5px 5px 0;
}

/* Some tiny text */
.subtext {
  font-size: 8px;
  font-weight: bold;
}

@import "field-director-reference.less";
@import "ballet.less";
@import "precision.less";
@import "indoor-unlimited.less";
