/* Specific styling for ballet sections */
.ballet-section {
  display: flex;
  &_categories {
    display: block;
    flex-grow: 6;
    flex-basis: 0;
    border-right: 1px solid #000;
    box-sizing: border-box;
  }
  &_category {
    border-bottom: 1px solid #000;
    padding: 5px 0;
  }
  &_category:last-child {
    border-bottom: 0;
  }
  &_notes {
    flex-grow: 10;
    flex-basis: 0;
    box-sizing: border-box;
    border-right: 1px solid #000;
    padding: 0 5px;
    position: relative;
  }
  &_score {
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
  }
  &_deductions {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
  }
}
