/* Specific styling for precision sections */
.precision-section {
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
  &_figure {
    flex-grow: 1;
    flex-basis: 0;
    min-height: 150px;
  }
  &_main {
    flex-grow: 3;
    flex-basis: 0;
    padding: 0 5px;
  }
  &_score {
    text-align: center;
  }
  &_details:after {
    content: "";
    display: block;
    clear: both;
  }
  &_consider {
    width: 45%;
    float: left;
    font-size: 10px;
  }
  &_explanation {
    width: 45%;
    float: left;
    font-size: 10px;
  }
  &_deductions {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 10px;
    line-height: 14px;
  }
  &_heading {
    width: 80px;
  }
  &_categories {
    flex-grow: 1;
    padding: 0 5px;
    flex-basis: 0;
    font-size: 10px;
  }
  &_notes {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
  }
  &_category:after {
    content: "";
    display: block;
    clear: both;
  }
  &_category-title {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
  }
  &_scale {
    float: left;
    width: 60%;
  }
}
